	
			h1
            
            
            
                      {color:rgb(42, 6, 90);
                       background-color:rgb(163, 109, 109);
                       font-size:78px;}
            
            
            
            
            h2
                      
            
            
            
                       {color:rgb(75, 6, 38);
                        background-color:rgb(43, 148, 108);
                        font-size:68px}	
   
